.background {
  background: url("../../assets/login.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 0;
}

#login-form {
  ion-item {
    --background: none;
    --color: var(--ion-color-dark);
    ion-label {
      --color: var(--ion-color-dark);
    }
  }
}
