<ion-header>
  <ion-toolbar>
    <ion-title>Einkaufsliste</ion-title>
  </ion-toolbar>
  <ion-searchbar placeholder="Suchen"></ion-searchbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>Getränke</ion-label>
    </ion-list-header>

    <app-grocery-item></app-grocery-item>
    <app-grocery-item></app-grocery-item>
    <app-grocery-item></app-grocery-item>
    <app-grocery-item></app-grocery-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label>Süßigkeiten</ion-label>
    </ion-list-header>

    <app-grocery-item></app-grocery-item>
    <app-grocery-item></app-grocery-item>
    <app-grocery-item></app-grocery-item>
    <app-grocery-item></app-grocery-item>
  </ion-list>
</ion-content>
