<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button routerLink="/tabs/settings" routerDirection="back">
        <ion-icon name="chevron-back"></ion-icon>Zurück
      </ion-button>
    </ion-buttons>
    <ion-title>Nutzer-Verwaltung</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item routerLink="create" button="true">
      <ion-icon name="add" slot="start"></ion-icon>
      <ion-label>Benutzer anlegen</ion-label>
    </ion-item>

    <ion-item routerLink="manage" button="true">
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-label>Benutzer verwalten</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
