<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button routerLink="/tabs/recipies" routerDirection="back">
        <ion-icon name="chevron-back"></ion-icon>Zurück
      </ion-button>
    </ion-buttons>
    <ion-title>Alle Rezepte</ion-title>
  </ion-toolbar>
  <ion-searchbar></ion-searchbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Schnelles</ion-list-header>
    <app-recipe-item></app-recipe-item>
    <ion-list-header>Deftiges</ion-list-header>
    <ion-list-header>Gesund</ion-list-header>
  </ion-list>
</ion-content>
